@import "tailwindcss";

@font-face {
    font-family: 'Geist Mono';
    src: url('../../../GeistMono.woff2');
    font-display: swap;
    font-weight: 100 900;
    font-style: normal italic;
}

@font-face {
    font-family: 'RSMSP';
    src: url('../../../rsmsp-symbol.woff2');
    font-display: swap;
    font-weight: 400;
}

@theme {
    --font-display: "Geist Mono", "Geist Mono fallback", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --font-sans: "Geist Mono", "Geist Mono fallback", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --font-mono: "Geist Mono", "Geist Mono fallback", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --font-symbol: "RSMSP", "RSMSP fallback", "Geist Mono", "Geist Mono fallback", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

    --color-muted: var(--color-indigo-400);
    --color-primary: var(--color-indigo-600);
    --color-muted-neutral: var(--color-neutral-400);
    --color-primary-neutral: var(--color-neutral-600);
    --color-default: var(--color-neutral-700);
    --color-default-dark: var(--color-neutral-900);

    --color-border: var(--color-indigo-100);

    --text-2xs: 0.625rem;
}

@layer components {
    /** ProsePre **/
    pre code .line {
        display: block;
    }

    pre code .line.highlight {
        background: var(--color-indigo-50) !important;
    }

    /** Transistion **/
    .v-enter-active,
    .v-leave-active {
        transition: opacity 0.3s ease;
    }

    .v-enter-from,
    .v-leave-to {
        opacity: 0;
    }


    p + h3,
    p + h4,
    p + h5,
    p + h6 {
        margin-top: calc(var(--spacing) * 8)
    }

    p + p,
    ul ul,
    ul ul ul,
    ol ol,
    ol ol ol {
        margin-top: calc(var(--spacing) * 4)
    }

    p + h2,
    ul + h2,
    ul + h3,
    ul + h4,
    ul + h5,
    ul + h6,
    ol + h2,
    ol + h3,
    ol + h4,
    ol + h5,
    ol + h6 {
        margin-top: calc(var(--spacing) * 16)
    }

    ul ul li::marker,
    ol ol li::marker {
        color: var(--color-default) !important;
    }
}